body {
    display: flex;
    margin: 3%;
    flex-direction: column;
    align-items: stretch;
}

table {
    table-layout: fixed;
}

#wrapper {
    max-width: 90vw;
}

form {
    max-width: 400px;
}

.modal-content {
    padding: 3%;
}

.modal-dialog {
    max-width: fit-content;
}

#search-row-count {
    pointer-events: none;
}

pre {
    background-color: ghostwhite;
    border: 1px solid silver;
    padding: 10px 20px;
    margin: 20px; 
    }
 .json-key {
    color: brown;
    }
 .json-value {
    color: navy;
    }
 .json-string {
    color: olive;
    }
 